<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="project" class="java.lang.String">
        <constructor-arg value="Demo"/>
    </bean>

    <bean name="user" class="cn.fantasticmao.demo.java.spring.framework.ioc.ApplicationContextDemo.TestBean" scope="prototype">
        <property name="name" value="tom"/>
        <property name="age" value="18"/>
    </bean>
</beans>