.red {
    background-color: #FF0000;
}

.orange {
    background-color: #FFA500;
}

.yellow {
    background-color: #FFFF00;
}

.green {
    background-color: #008000;
}

.cyan {
    background-color: #00FFFF;
}

.blue {
    background-color: #0000FF;
}